DATABASE_URL=

PORT=8080

GOOGLE_API_KEY=

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=


CRON_CRAWL_ENABLED=true
CRAWL_CSV_PATH=data/source-links.csv
CRAWL_LIMIT=10